@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat';
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#757f9a), to(#d7dde8));
  background: linear-gradient(to right, #757f9a, #d7dde8);
}

a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .logo {
  color: black;
  font-weight: bold;
  z-index: 0;
  position: relative;
  font-size:4rem;
}

header h1 {
  color: #2c3e50;
}

section {
  padding: 4em;
  margin-top: 5%;
}

section h1 {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
  color: #282936;
}

section h1::before {
  content: ' ';
  border-top: 5px solid #c7c7c7;
  display: block;
}

section h2 {
  font-size: 1.6em;
  margin: 1em auto;
  width: 70%;
  color: #282936;
  position: absolute;
  margin-left: 14.4%;
}



section {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

button {
  z-index: 0;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-left: 15%;
}

@media only screen and (max-width: 400px) {
.logo {
    right: 76.5%;
}
}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0.2em;
    background-color: #757f9a;
    justify-content:center;
    color:black;
  }


.social-footer-icons{
   margin-right: 5%;
}

a{
    font-size: medium;
    color: #000000;
}
}

